body {
  background-color: #381f31;
}
section {
  display: flex;
}
a {
  text-decoration: none;
  color: rgb(241, 199, 231);
  background-color: rgb(69, 68, 110);
  border: 4px solid rgb(161, 84, 84);
  border-radius: 6px;
  padding: 5px 15px;
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  color: lightcoral;
  margin: 75px 57px 75px 0;
}
.currentLevel {
  border: 4px solid rgb(100, 46, 46);
  border-radius: 6px;
  padding: 5px 15px;
  text-align: center;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1.5;
}

.container {
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 900px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background-repeat: repeat-x;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.sky {
  width: 100%;
  height: 390px;
  background-image: linear-gradient(to right, #c31432, #240b36);
  position: relative;
}
#witch {
  width: 40px;
  height: 50px;
  background-image: url(../images/witchM1.png);
  // animation: wMove 500ms linear 1s infinite;
  position: absolute;
  background-size: 40px 50px;
  transform: scale3d(2px);
  left: 50px;
  bottom: 0px;
}
// @keyframes wMove {
//   0% {
//     background-image: url(../images/witchM1.png);
//   }
//   100% {
//     background-image: url(../images/witchM2.png);
//   }
// }

#fire {
  width: 33px;
  height: 38px;
  background-image: url(../images/fire.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -35px;
  bottom: 0px;
  animation: backgroundMove 4000ms linear infinite,fMove 500ms linear 1s infinite;
}
@keyframes fMove {
  0% {
    background-image: url(../images/fire.png);
  }
  100% {
    background-image: url(../images/fire2.png);
  }
}
#arrow {
  width: 40px;
  height: 15px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  right: -35px;
  bottom: 9px;
  animation: backgroundMove 6200ms linear 1s infinite;
}
@keyframes backgroundMove {
  0% {
    right: -35px;
  }
  25% {
    right: 225px;
  }
  50% {
    right: 500px;
  }
  80% {
    right: 880px;
  }
  90% {
    right: 920px;
  }
  100% {
    right: 950px;
  }
}

.jump {
  animation: jump 600ms linear;
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  30% {
    bottom: 60px;
  }
  60% {
    bottom: 120px;
  }
  80% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}

.ground {
  border-top: 10px solid #273729;
  width: 100%;
  height: 200px;
  background-color: #292220;
}
