<section>
  <div class="container">
    <!-- <img class="background-img" src="./images/background-img.png" alt="Container for play"> -->
    <div class="sky">
      <div id="witch"></div>
      <div id="fire"></div>
      <div id="arrow"></div>
    </div>
    <div class="ground"></div>
  </div>
  <div class="menu">
    <p class="text">Menu</p>
    <nav class="nav">
      <span class="currentLevel">Level 1</span>
      <a href="#" class="allLevels">Levels</a>
      <a href="#" class="rules">Rules</a>
    </nav>
  </div>
</section>
